<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Detail Status Pembayaran</title>
    <style>
        .container{
            margin-top: 50px;
        }
        .top{
            display: flex;
            gap:50px;
            margin-bottom: 60px;
        }
        .box{
            width: 40px;
            align-items: center;
            display: flex;
            justify-content: center;
            border-radius: 50%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        .container h4{
            color: var(--primary-color);
        }
        .container h3,.container p{
            color: var(--black);
        }
        .container p{
            font-weight: 500;
        }
      
        .detail-product-card, .tagihan-card, .bukti-pembayaran-card{
            border-radius: 36px;
             box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
             padding: 30px;
             margin-bottom: 40px;
        }
        .detail-produk h4, .tagihan h4, .bukti-pembayaran h4{
             margin-bottom: 20px;
        }
        .item{
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
        }
        .info{
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        }
        .tombol{
            text-align: center;
            margin-bottom: 50px;
        }
        .container .btn{
            border-radius: 36px;
            background-color: var(--primary-color);
            color: white;
            font-weight: 600;
            padding: 10px 30px;
        }
        .btn-pesan:hover{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        .btn-pesan{
            width: 150px;
            height: 50px;
            border-radius: 24px;
            font-weight: 600;
            padding-top: 12px;
            margin-bottom: 30px;
            background-color: var(--primary-color);
            color: white;
            padding: 20px 30px 10px;
        }
        .btn-secondary{
            width: 150px;
            height: 50px;
            border-radius: 24px;
            font-weight: 600;
            padding-top: 12px;
            margin-bottom: 30px;
            border: 2px solid var(--primary-color);
            background-color:white;
            color: var(--primary-color);
        }
        .btn-secondary:hover{
            border: none;
            background-color: #A9D4BC;
            color: var(--primary-color);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        #countdown{
            color: #A20A0A;
        }
    </style>
  </head>

  <body>
    <script th:inline="javascript">
        function handleFormSubmit() {
            document.getElementById("forms").submit();
            var idPesanan = /*[[ ${pesanan.idPesanan} ]]*/ '';
            var idPembayaran = /*[[ ${pembayaran.id} ]]*/ '';
            window.location.href = '/pesanan/' + idPesanan + '/hapus';
            window.location.href = '/pembayaran/' + idPembayaran + '/hapus';
        }
        /*<![CDATA[*/
        // Extract waktuPesanan from pesanan object
        var waktuPesanan = /*[[${pesanan.waktuPesanan}]]*/ '';
        
        // Set the date for the countdown (24 hours after waktuPesanan)
        var countDownDate = new Date(waktuPesanan);
        countDownDate.setHours(countDownDate.getHours() + 24);
        
        // Update the countdown every second
        var x = setInterval(function() {
            var now = new Date().getTime();
            var distance = countDownDate - now;
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            document.getElementById("countdown").innerHTML =   hours + "h " + minutes + "m " + seconds + "s ";
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("countdown").innerHTML = "EXPIRED";
            }
        }, 1000);
        /*]]>*/
    </script>
 
     
    <nav
      th:replace="~{fragments/navbar :: navbar (page = 'Add Product')}"
    ></nav>
    <div class="container">
        <div class="top">
            <div class="box">
                <a type="button" th:href="@{/pesanan(activeSection='Status Pembayaran')}"><img class="img1" src="/images/arrow-left-solid.svg" alt="img1" style="width: 20px"></a>
            </div>
            <div th:if="${pembayaran.statusPembayaran == 'SUKSES'}">
                <h3 class="fw-bold">Hore! Pemesananmu Berhasil</h3>
            </div>
            <div th:if="${pembayaran.statusPembayaran == 'MENUNGGU_PEMBAYARAN_KEMBALI'}">
                <h3 class="fw-bold">Silahkan Melakukan Pembayaran Kembali dalam  <span id="countdown"></span></h3>
            </div>
            <div th:if="${pembayaran.statusPembayaran == 'GAGAL'}">
                <h3 class="fw-bold">Yah! Pesan Lagi Yuk</h3>
            </div>
        </div>
        <div class="detail-produk" th:if="${pesanan.jenisPesanan == 'LAYANAN'}">
            <h4 class="fw-bold">Detail Produk</h4>
            <div class="detail-product-card">
                <a th:href="@{/paketlayanan/{id}(id=${pesanan.paketLayanan.id})}">
                    <div class="item">
                        <p>Nama Layanan</p>
                        <p class="fw-bold" th:text="${pesanan.paketLayanan.layanan.namaLayanan}"></p>
                    </div>
                    <div class="item">
                        <p>Nama Paket Layanan</p>
                        <p class="fw-bold" th:text="${pesanan.paketLayanan.namaPaket}"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="detail-produk" th:if="${pesanan.jenisPesanan == 'TRAINING'}">
            <h4 class="fw-bold">Detail Produk</h4>
            <div class="detail-product-card">
                <a th:href="@{/training/{idTraining}(idTraining=${pesanan.training.idTraining})}">
                    <div class="item">
                        <p>Judul Training</p>
                        <p class="fw-bold" th:text="${pesanan.training.judulTraining}"></p>
                    </div>
                    <div class="item">
                        <p>Pengajar</p>
                        <p class="fw-bold" th:text="${pesanan.training.pengajarTraining}"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="detail-produk" th:if="${pesanan.jenisPesanan == 'EVENT'}">
            <h4 class="fw-bold">Detail Produk</h4>
            <div class="detail-product-card">
                <a th:href="@{/event/{idEvent}(idTEvent=${pesanan.event.idEvent})}">
                    <div class="item">
                        <p>Nama Event</p>
                        <p class="fw-bold" th:text="${pesanan.event.namaEvent}"></p>
                    </div>
                    <div class="item">
                        <p>Nama Pembicara</p>
                        <p class="fw-bold" th:text="${pesanan.event.namaPembicara}"></p>
                    </div>
                    <div class="item">
                        <p>Jadwal Event</p>
                        <p class="fw-bold" th:text="${pesanan.event.jadwalEvent}"></p>
                    </div>
                    <div class="item">
                        <p>Durasi Event</p>
                        <p class="fw-bold" th:text="${pesanan.event.durasiEvent}"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="tagihan">
            <h4 class="fw-bold">Tagihan</h4>
            <div class="tagihan-card">
                <div class="info">
                    <div class="item">
                        <p>Bank</p>
                        <p class="fw-bold">BCA</p>
                    </div>
                    <div class="item">
                        <p>Nomor Rekening</p>
                        <p class="fw-bold">8918283840</p>
                    </div>
                    <div class="item">
                        <p>Nama Pemilik Rekening</p>
                        <p class="fw-bold">Budi</p>
                    </div>
                </div>
                <div class="item" th:if="${pesanan.jenisPesanan == 'PREMIUM' and userRole == 'MEMBER_BASIC'}">
                    <p class="fw-bold">Total Tagihan</p>
                    <h4 class="fw-bold">Rp100.000</h4>
                </div>
                <div class="item" th:unless="${pesanan.jenisPesanan == 'PREMIUM'}">
                    <p class="fw-bold">Total Tagihan</p>
                    <h4 class="fw-bold" th:text="'Rp'+${hargaPesanan}"></h4>
                </div>
                <div class="item" th:if="${pesanan.jenisPesanan == 'PREMIUM'}">
                    <p class="fw-bold">Total Tagihan</p>
                    <h4 class="fw-bold">Rp100000</h4>
                </div>
            </div>
        </div>
        <div class="bukti-pembayaran" th:if="${pembayaran.statusPembayaran == 'SUKSES'}">
            <h4 class="fw-bold">Bukti Pembayaran</h4>
            <div class="bukti-pembayaran-card">
                <div class="item">
                    <p>Metode Pembayaran</p>
                    <p class="fw-bold" th:text="${pembayaran.metodePembayaran}"></p>
                </div>
                <div class="item">
                    <p>Nomor Telepon</p>
                    <p class="fw-bold" th:text="${pembayaran.nomorTelepon}"></p>
                </div>
                <div class="item">
                    <p>Nama Pemilik E-Wallet / Rekening</p>
                    <p class="fw-bold" th:text="${pembayaran.namaPemilik}"></p>
                </div>
            </div>
        </div>
        <div class="tombol" th:if="${pembayaran.statusPembayaran == 'MENUNGGU_PEMBAYARAN_KEMBALI'}">
            <a th:href="@{'/pesanan/' + ${pesanan.idPesanan} + '/bayar/' + ${pembayaran.id}}" class="btn">Unggah Bukti Pembayaran</a>
        </div>
        
        <div class="tombol" th:if="${pembayaran.statusPembayaran == 'GAGAL' and pesanan.jenisPesanan == 'LAYANAN'}">
            <a href="#" class="btn" data-toggle="modal" data-target="#confirmPesanModal">Pesan Ulang</a>
            <!-- Modal -->
            <div class="modal fade" id="confirmPesanModal" tabindex="-1" aria-labelledby="confirmPesanModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmPesanModalLabel">Konfirmasi Pemesanan</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Apakah Anda yakin ingin memesan Paket Layanan ini?
                        </div>
                        <div class="modal-footer" style="justify-content: center;">
                            <button type="button" class="btn-secondary" data-dismiss="modal" style="padding:10px;">Batal</button>
                            <form id="forms" th:action="@{/paketlayanan/{id}/pesan(id=${pesanan.paketLayanan.id})}"
                            th:object="${pesananDTO}"
                            method="POST">
                                <button type="submit" class="btn-pesan" style="padding:12px; background-color: var(--primary-color); border: none" onclick="handleFormSubmit()">
                                    <div class="pesan">
                                        <p style="color: white; margin: 0;">Pesan</p>
                                    </div>
                                </button>
                            </form>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tombol" th:if="${pembayaran.statusPembayaran == 'GAGAL' and pesanan.jenisPesanan == 'TRAINING'}">
            <a href="#" class="btn" data-toggle="modal" data-target="#confirmPesanModal">Daftar Ulang</a>
            <!-- Modal -->
            <div class="modal fade" id="confirmPesanModal" tabindex="-1" aria-labelledby="confirmPesanModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmPesanModalLabel">Konfirmasi Pendaftaran</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Apakah Anda yakin ingin mendaftar pada training ini?
                        </div>
                        <div class="modal-footer" style="justify-content: center;">
                            <button type="button" class="btn-secondary" data-dismiss="modal" style="padding:10px;">Batal</button>
                            <form id="forms" th:action="@{/training/{idTraining}/daftar(idTraining=${pesanan.training.idTraining})}"
                            th:object="${pesananDTO}"
                            method="POST">
                                <button type="submit" class="btn-pesan" style="padding:12px; background-color: var(--primary-color); border: none" onclick="handleFormSubmit()">
                                    <div class="pesan">
                                        <p style="color: white; margin: 0;">Daftar</p>
                                    </div>
                                </button>
                            </form>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tombol" th:if="${pembayaran.statusPembayaran == 'GAGAL' and pesanan.jenisPesanan == 'EVENT'}">
            <a href="#" class="btn" data-toggle="modal" data-target="#confirmPesanModal">Daftar Ulang</a>
            <!-- Modal -->
            <div class="modal fade" id="confirmPesanModal" tabindex="-1" aria-labelledby="confirmPesanModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmPesanModalLabel">Konfirmasi Pendaftaran</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Apakah Anda yakin ingin mendaftar pada event ini?
                        </div>
                        <div class="modal-footer" style="justify-content: center;">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="padding:10px;">Batal</button>
                            <a th:href="@{/event/daftar/{idEvent}(idEvent=${pesanan.event.idEvent})}" class="btn btn-success" id="deleteLink">Daftar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tombol" th:if="${pembayaran.statusPembayaran == 'GAGAL' and pesanan.jenisPesanan == 'PREMIUM'}">
            <a href="#" class="btn" data-toggle="modal" data-target="#confirmPesanModal">Daftar Ulang</a>
            <!-- Modal -->
            <div class="modal fade" id="confirmPesanModal" tabindex="-1" aria-labelledby="confirmPesanModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmPesanModalLabel">Konfirmasi Pendaftaran</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Apakah Anda yakin ingin mendaftar menjadi member premium?
                        </div>
                        <div class="modal-footer" style="justify-content: center;">
                            <button type="button" class="btn-secondary" data-dismiss="modal" style="padding:10px;">Batal</button>
                            <form id="forms" th:action="@{/pesan/member-premium}"
                            th:object="${pesananDTO}"
                            method="POST">
                                <button type="submit" class="btn-pesan" style="padding:12px; background-color: var(--primary-color); border: none" onclick="handleFormSubmit()">
                                    <div class="pesan">
                                        <p style="color: white; margin: 0;">Daftar</p>
                                    </div>
                                </button>
                            </form>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>

</html>